/* Styles start for the button component */

.button {
  width: fit-content;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: bold;
  transition: all 0.4s ease;
}

.button--primary {
  background-color: var(--primary-color);
  color: #000;
}

.button--primary:hover {
  background-color: var(--primary-hover-color);
}

.button--secondary {
  background-color: #fff;
  color: #000;
}

.button--secondary:hover {
  background-color: #fff4d3;
}

/* End of styles for the button component */

/* Styles start for the card component */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  border-radius: 8px;
  background-color: #fff;
}

.card__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 50%;
  font-size: 5rem;
}

.card__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--fourth-color);
}

.card__paragraph {
  font-size: 1.6rem;
  text-align: center;
  color: var(--tertiary-color);
}

/* End of styles for the card component */

/* Styles start for the item component */

.item {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: start;
}

.item__icon-container {
  font-size: 3rem;
}

.item__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 4px;
}

.item__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--fourth-color);
}

.item__paragraph {
  font-size: 1.6rem;
  color: var(--tertiary-color);
}

/* End of styles for the item component */

/* Styles start for the card-methods component */

.card-methods {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr auto;
  gap: 20px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
}

.card-methods__decorate {
  width: 100%;
  height: 100%;
  background: url('/images/ELEMENTO-1.webp') center no-repeat;
  background-size: cover;
}

.card-methods__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 20px;
}

.card-methods__title {
  font-size: 2.5rem;
  color: var(--fourth-color);
}

.card-methods__paragraph {
  font-size: 1.8rem;
  color: var(--tertiary-color);
}

.card-methods__ul {
  margin-top: 20px;
}

.card-methods__ul--grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card-methods__li {
  display: flex;
  align-items: start;
  gap: 10px;
  font-size: 1.6rem;
  color: var(--tertiary-color);
}

.card-methods__icon-container {
  font-size: 2rem;
}

.card-methods__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px 20px;
}

.card-methods__span {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--fourth-color);
}

@media screen and (width > 768px) {
  .card-methods__content {
    padding: 0 40px 40px;
  }

  .card-methods__cta {
    flex-direction: row;
    padding: 0 40px 40px;
  }
}

@media screen and (width > 1280px) {
  .card-methods__ul--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* End of styles for the card-methods component */

/* Styles start for the cta component */

.cta {
  width: 100%;
  padding: 0 20px 80px;
}

.cta__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  max-width: 1880px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--primary-color);
  background: url('/images/banner_naranjado.webp') center no-repeat;
  background-size: 100% 100%;
}

.cta__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cta__title {
  font-size: 3rem;
  text-align: center;
}

.cta__paragraph {
  font-size: 1.6rem;
  text-align: center;
  color: #242424;
}

@media screen and (width > 768px) {
  .cta {
    padding: 0 40px 120px;
  }

  .cta__container {
    padding: 80px;
  }

  .cta__title {
    font-size: 4rem;
  }

  .cta__paragraph {
    font-size: 2rem;
  }
}

@media screen and (width > 1024px) {
  .cta {
    padding: 0 60px 160px;
  }
}

@media screen and (width > 1280px) {
  .cta {
    padding: 0 100px 160px;
  }
}

/* End of styles for the cta component */

/* Styles start for the cta component */

.section {
  position: relative;
  padding: 80px 20px;
}

.section--bg {
  background-color: var(--secondary-color);
}

.section__container {
  max-width: 1880px;
  margin: 0 auto;
}

.section__title {
  font-size: 3.3rem;
  color: var(--fourth-color);
}

.section__paragraph {
  font-size: 1.6rem;
  color: var(--tertiary-color);
}

.section__title--center,
.section__paragraph--center {
  text-align: center;
}

@media screen and (width > 768px) {
  .section {
    padding: 120px 40px;
  }

  .section__title {
    font-size: 4.5rem;
  }

  .section__paragraph {
    font-size: 1.8rem;
  }
}

@media screen and (width > 1024px) {
  .section {
    padding: 160px 60px;
  }
}

@media screen and (width > 1280px) {
  .section {
    padding: 160px 100px;
  }
}

/* End of styles for the cta component */
