@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Aquí definimos las Custom properties */
:root {
  /* Tipografía */
  --font-nunito: 'Nunito', sans-serif;

  /* Colores */
  --primary-color: #ff8200;
  --primary-hover-color: #ff6e40;
  --secondary-color: #f5f5f5;
  --tertiary-color: #4f5763;
  --fourth-color: #282b2e;
}

/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Configuramos anclas suaves y font-size por defecto para usar rem */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-family: var(--font-nunito);
}
